body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f1f5f9;
}

/* HEADER */
header {
    text-align: center;
    padding: 25px;
}

.photo {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 20px gray;
}

/* MENU */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #0f172a;
    padding: 12px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* SECTIONS */
section {
    background-color: white;
    margin: 25px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 15px gray;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #e5e7eb;
}

/* QR CODE */
.qrcode {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.qrcode img {
    width: 110px;
}

/* BOUTON HAUT */
.top-btn {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: black;
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 50%;
}

/* FOOTER */
footer {
    background-color: #020617;
    color: white;
    text-align: center;
    padding: 20px;
}

#copyright {
    color: #facc15;
    font-weight: bold;
}
